In [15]:
[
    "pythonlist = ['Ama', 54, 'Kojo', 45.5, 'Yhup', 52, 'Kwame', 96, 'Kwesi', 87, 'Roland', True, 'Nti',\n",
    "             45, 78.5, 'William', 68, 45.3, 78, 'Patty', False, 98, True, 'Adwoa',21, 65, 'Pappy',\n",
    "             14, 'Folly', False, 52, 'Pency']"
   ]

["pythonlist = ['Ama', 54, 'Kojo', 45.5, 'Yhup', 52, 'Kwame', 96, 'Kwesi', 87, 'Roland', True, 'Nti',\n",
 "             45, 78.5, 'William', 68, 45.3, 78, 'Patty', False, 98, True, 'Adwoa',21, 65, 'Pappy',\n",
 "             14, 'Folly', False, 52, 'Pency']"]

# Create four empty list

In [21]:
print("Floats\nInts\nStrings\nBooleans")

Floats
Ints
Strings
Booleans

In [35]:
Floats= (45.5,78.5,45.3)

In [36]:
Int= (54,52,96,87,45,68,78,98.21,65,14,52)

In [37]:
String = ("Ama", "Kojo", "Yhup","Kwame","Roland", "Nti","William", "Patty","Adwoa","Pappy","Pency","Folly")

In [38]:
Booleans =(True,False,False)

### For the strings and booleans sets, sort the items

In [3]:
import pandas as pd
df=pd.DataFrame

In [29]:
df

          0
0     Pency
1       Nti
2     Pappy
3    Roland
4      Kojo
5     Folly
6       Ama
7      Yhup
8   William
9     Kwame
10    Adwoa
11    Patty

In [15]:
df= Booleans=(True,False,False)

In [13]:
df

(True, False, False)

In [27]:
df.describe()

            0
count      12
unique     12
top     Pency
freq        1

In [47]:
Int= (54,52,96,87,45,68,78,98.21,65,14,52)

In [65]:
df.sort_values

AttributeError: 'tuple' object has no attribute 'sort_values'